<!-- As a heading -->
<nav class="navbar bg-dark">
    <div class="container-fluid">
      

      <div class="dropdown">
        <button  type="button" id="dropdownMenu3" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Contact us
        </button>

        
        <button  type="button" class="btnbtn-light" routerLink="/sining-in">SignUp</button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
           <!-- <h6 class="dropdown-header">Dropdown header</h6> -->
          <a class="dropdown-item" href="#">tel-011 543 8876</a>
          <a class="dropdown-item" href="#">enquiries@medShield.co.za</a>
          <a class="dropdown-item" href="#">189 Clark Street
            Brooklyn, Pretoria
            0181</a>
        </div>
      </div>

      <a class= "navbar-brand" routerLink="/homepage">medShield</a>
      
    </div>
  </nav>


 

  