<!-- <div class="title_wrapper">
    <span class="has-text-white"></span>
    <h1 class="title is-1 has-text-white">Discover your next favorite Movie in your own MovieRoom.</h1>
    <button class="button is-medium" routerLink="/movies">Watch It Now</button>
</div> -->
<!-- <h1 class="title is-1 has-text-white">Discover your next favorite Movie in your own MovieRoom.</h1> -->




<div class="body">
    <!-- <p> hscdhnjd sdcjn dj ndc jdjd</p> -->
    <div class="image">
        <!-- <img src="https://as2.ftcdn.net/v2/jpg/04/96/04/99/1000_F_496049908_YBrDZJi5o5XMtFVCuicTk0R7TAABVd5M.jpg"
            alt="Italian Trulli"> -->
            <p>hhhhhhhhhhhhhhhh hhhhhhh</p>
    </div>

    <div class="paragraph">
        <p>
            cvfg cg xgf gh hjfjfjmjf
        </p>

    </div>

</div>