<!-- <div class="title_wrapper">
    <span class="has-text-white"></span>
    <h1 class="title is-1 has-text-white">Discover your next favorite Movie in your own MovieRoom.</h1>
    <button class="button is-medium" routerLink="/movies">Watch It Now</button>
</div> -->
<!-- <h1 class="title is-1 has-text-white">Discover your next favorite Movie in your own MovieRoom.</h1> -->


<!-- 

<div class="body">

    <div class="image">
        <img src="https://as2.ftcdn.net/v2/jpg/04/96/04/99/1000_F_496049908_YBrDZJi5o5XMtFVCuicTk0R7TAABVd5M.jpg"
            alt="Italian Trulli" style="height:100%; width:100%">
            <div class="title_wrapper" style="margin-top:-40%; margin-left:16px" >
                <span class="has-text-white"></span>
                <h1 class="title is-1 has-text-white">Are you ready to prioritize your well-being and ensure that your healthcare needs are taken care of? Look no further than our esteemed medical aid scheme! We believe that everyone deserves access to quality healthcare, and we are committed to providing comprehensive coverage and peace of mind. Join us on this journey towards a healthier, happier future. .</h1>
                <button class="button is-medium" routerLink="/signin">JOIN NOW!</button>
            </div>
            
    </div>



    

</div> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>medShield</title>
</head>
<body>
  
	<div class="top">
		<div class="columns">
			<div class="p-0 column is-full featured_wrapper">
				<img src="https://as2.ftcdn.net/v2/jpg/04/96/04/99/1000_F_496049908_YBrDZJi5o5XMtFVCuicTk0R7TAABVd5M.jpg" class="featured">
				<!-- <img src="../../assets/background.jpg" class="featured"> -->
				<div class="title_wrapper">
					<span class="has-text-white"></span>
					<h1 class="title is-1 has-text-white">Are you ready to prioritize your well-being and ensure that your healthcare needs are taken care of? Look no further than our esteemed medical aid scheme! We believe that everyone deserves access to quality healthcare, and we are committed to providing comprehensive coverage and peace of mind. Join us on this journey towards a healthier, happier future.</h1>
					<button class="button is-medium" routerLink="/movies">JOIN NOW</button>
				</div>
			</div>
		</div>
	</div>

<!-- <app-movies></app-movies> -->

	</body>
</html>

<div class=""> 
  <!-- <div *ngFor="let movie of movie" class="no-margin"> -->
    <!-- <h1 class="header-h1">Movies Collection</h1> -->
     <!-- <app-movies>[movie]='movie'</app-movies> -->
  <!-- </div>  -->
</div>
